/* NIAZ AHMED 301203 */
body {
  background-color: #333;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
}

h1,
h2 {
  text-align: center;
  color: black;
  border-bottom: 2px solid #fff;
  padding-bottom: 10px;
}

.add-recipe {
  margin-bottom: 40px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.add-recipe label,
.add-recipe input,
.add-recipe textarea {
  width: 100%;
  max-width: 400px;
}

label,
input,
textarea {
  display: block;
  margin-bottom: 10px;
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.recipe-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.recipe-actions button {
  margin-left: 10px;
  background-color: #333;
  color: #fff;
  border: black solid 1px;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
}

.recipe-actions button:hover {
  background-color: #666;
}

#pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

#pagination button:hover {
  background-color: #666;
}

#current-page {
  font-weight: bold;
  margin: 0 10px;
}

li div {
  display: flex;
  flex-direction: column;
}

li div img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

#search-form {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

#search-input {
  flex-grow: 1;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 5px;
  font-size: 16px;
  background-color: #f2f2f2;
  color: #333;
}

#search-input:focus {
  outline: none;
  border-color: #fff;
}

#search-button {
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0);
}
